@keyframes animation-gradient-1 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
    }
    100% {
        transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
    }
}

@keyframes animation-gradient-2 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
    }
    25% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
    }
    50% {
        transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
    }
    75% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
    }
    100% {
        transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
    }
}

@keyframes animation-gradient-3 {
    0% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }
    20% {
        transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
    }
    40% {
        transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
    }
    60% {
        transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
    }
    80% {
        transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
    }
    100% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }
}

.animate-gradient-1 {
    animation: animation-gradient-1 11s cubic-bezier(0.1, 0, 0.9, 1) infinite;
}

.animate-gradient-2 {
    animation: animation-gradient-2 11s cubic-bezier(0.1, 0, 0.9, 1) infinite;
}

.animate-gradient-3 {
    animation: animation-gradient-3 11s cubic-bezier(0.1, 0, 0.9, 1) infinite;
}