[profile.default]
# Run tests with 4 threads by default
test-threads = 4
# Show slower tests
slow-timeout = { period = "60s", terminate-after = 3 }
# Retry flaky tests
retries = 0

[profile.ci]
# In CI, retry failed tests once to handle flaky tests
retries = 1
# Show test output for failed tests
failure-output = "immediate-final"
# Show test output for successful tests as well
success-output = "never"
# Cancel the test run on the first failure
fail-fast = false
# Run tests with 2 threads in CI
test-threads = 2

[profile.ci.junit]
path = "test.junit.xml"
store-success-output = false
store-failure-output = true

